@import url('https://fonts.googleapis.com/css?family=Cutive|Nunito&display=swap');

body{
  margin: 0; 
  padding: 0;
}


.login{

  background : linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.login-header-container{
  height: 20vh;
  width : 100%;
  display: grid; 
  justify-content: center; 
  align-items: center;
  font-family: 'Cutive', serif;
  color: white;
}


.login-container{
  font-family: 'Nunito', sans-serif;
  height: 80vh;
  display: grid; 
  justify-content: center; 
  align-items: center;
  width : 100%;
}

.login-container div:nth-child(1){
  background: white;
  /* border: 1px solid black; */
  padding: 10px 20px;
  border-radius: 10px;
}

.login-container h2{
  text-align: center;
  font-size: 30px;
  color: rgb(53, 53, 53);
}

.login-container input{
  background: rgba(0, 0, 0, 0.07);
  display: block;
  margin-bottom: 10px; 
}


.login-input{
  text-align: center;
  border: none;
  padding: 10px 100px; 
  border-radius: 25px; 
}

.button-group{
  display: grid; 
  justify-content: center;
}

.login-container button{
  margin: 10px; 
  color: white;
  background: #D56637;
  padding: 10px 20px;
  border: none; 
  border-radius: 25px;
}